<div class="container"><br>
  <h1>Segunda Forma</h1>
  <form  novalidate>
    <label for="name">Name: </label>
    <input id="name" type="text" class="form-control">
    <div class="invalid-feedback">
      <p>Campo Requerido</p>
      <p >Error en formato</p>
    </div>
    <label for="mail">email: </label>
    <input id="mail" type="email" class="form-control"><br>
    <div>
      <p >Campo Requerido</p>
      <p >Error en formato</p>
      <p >Mínimo permitido 12</p>
      <p >Máximo permitido 25</p>
      <p >Error formato correo</p>
    </div>
    <button class="btn btn-info" >Enviar</button>
  </form>
</div>
