<div class="container"><br>
    <h1>Primera Forma</h1>
    <form  novalidate>
      <div class="mb-3">
        <label for="mailInput" class="form-label">Email address</label>
        <input type="email" class="form-control" >
        <div>
          <div><strong>El campo es requerido</strong></div>
          <div><strong>Email no correcto</strong></div>
          <div><strong>La longitud mínima del correo es inválida</strong></div>
          <div><strong>La longitud máxima del correo es inválida</strong></div>
        </div>
      </div>
      <div class="mb-3">
        <label for="nameInput" class="form-label">Nombres</label>
        <input class="form-control" type="text">
        <p >
        </p>
      </div>
      <button class="btn btn-info">Enviar</button>
    </form>
  </div>
